
<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
          <span id="reauth-email" class="reauth-email"></span>
            <input type="email" class="form-control" 
              ng-model="userData.email" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" 
              ng-model="userData.password" placeholder="Password" required>
            <input type="password" class="form-control" 
              ng-model="userData.passwordConfirmation" placeholder="Re-enter Password" required>
              <button class="btn btn-lg btn-primary btn-block btn-signin" 
               type="submit" ng-click="signup(userData)" >
                 Register
              </button>
          </form>
  </div>
</div>